<!DOCTYPE html>
<html>
  <head>
    <title>Ame</title>
    <style media='screen'>
    .title{
      text-align: center
    }
    .container{
      font-size: 21px
    }
    </style>
  </head>

  <body>
    <div class='title'>
      <h2>MASTER FESTAS 2019</h2>
      <h4>RUA POUSO ALEGRE 3486</h4>
    </div>
    <div>
      <div>
        <strong>Nome:</strong></strong> <%=@sale.user.name%>
      </div>
      <div>
        <strong>Endereço:</strong> <%=@sale.user.address%>
        <strong>Numero:</strong> <%=@sale.user.name%>
        <strong>APT:</strong> <%=@sale.user.complement%>
      </div>
      <div>
        <strong>Bairro:</strong> Saudade
        <strong>Email:</strong> mateusfulgencio28@gmail.com
      </div>
      <div>
        <strong>Telefone Residencial:</strong> (31) 99429-4272 
        <strong>Celular:</strong> (31) 3481-2643
      </div>
      <div>
        <strong>Endereço do evento:</strong> Rua cacheoria dourada, 53 santa ines
      </div>
      <div>
        <strong>Nome do Aniversariante:</strong> Pedro Henrique Ferreira 
        <strong>Idade:</strong> 13 anos
      </div>
      <div>
        <strong>Quantidade de Crianças:</strong> 20 crianças 
        <strong>Faixa Etaria:</strong> 13 a 20 anos
      </div>
      <div>
        <strong>Quantidade de Adultos:</strong> 30 crianças 
        <strong>Horario:</strong> 19:19
      </div>
      <div>
        <strong>Data do Evento:</strong> 22/03/2019 
        <strong>Dia da Semana:</strong> Sexta-Feira
      </div>
      <div>
        <table>
          <tr>
            <th>Quantidade</th>
            <th>Serviços contratados</th>
            <th>Valor de Quebra</th>
            <th>Valores</th> 
          </tr>
          <tr>
            <td>02</td>
            <td>Panela de Aço</td>
            <td>R$12,90</td>
            <td>13,90</td> 
          </tr>
          <tr>
            <td>02</td>
            <td>Panela de Aço</td>
            <td>R$12,90</td>
            <td>13,90</td> 
          </tr>
        </table>
      </div>
    <div>
  </body>
</html>
